<!DOCTYPE html>

<html>

<head>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

<script type="text/javascript">

$(document).ready(function() {
    $("*[style]").attr("style","");
    $('.dataframe').dataTable( {

        "responsive": true,
        "paging": false,
        "searching": false,
        "info": false,
        "columnDefs": [
            { className: "dt-left", "targets": [ 0, 1, 2, 3, 4 ] },
            { "orderable": false, "targets": 2 },
        ],
        "order": [[ 4, "asc" ]],
    } );
} );

</script>

<style>

</style>

</head>

<body>

{{output | safe}}

</body>

</html>
